*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
    background: linear-gradient(0.5turn, #fdb023, #f2ffe9, #52da4e);
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius:2rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
    border-radius: 0.5;
    
}
form select,button,input{
    width: 100%;
    border:none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 2px solid rgb(249, 49, 49);
    font-size: 1rem;
   color: rgb(10, 10, 7);
  height :1.5rem;
  padding-left: 0.5rem;
}
p{
    color:rgb(36, 25, 240)
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
    
}
.dropdown i{
    font-size:1rem;
    margin-top: 1rem;
}


.class-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width:6rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(100, 78, 78); 
}
.class-container img{
    max-width: 2rem;
}
.class-container select{
  font-size: 1rem;
  width:auto;
}
.msg{

    margin:2rem 0 2rem 0;
}
button{
    height: 1.35rem;
    background-color: rgb(246, 62, 160);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
h2{
    color: rgb(20, 23, 209);
}